[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ankitgupta1509
[access "refs/for/refs/*"]
	read = group user/ankitgupta1509
	push = group user/ankitgupta1509
	label-Code-Review = -2..+2 group user/ankitgupta1509
	label-Verified = -1..+1 group user/ankitgupta1509
	rebase = group user/ankitgupta1509
	removeReviewer = group user/ankitgupta1509
	submit = group user/ankitgupta1509
[access "refs/heads/*"]
	read = group user/ankitgupta1509
	create = group user/ankitgupta1509
	push = +force group user/ankitgupta1509
	pushMerge = group user/ankitgupta1509
[access "refs/tags/*"]
	push = group user/ankitgupta1509
	push = +force group user/ankitgupta1509
